:root {
    --cc-theme-background: #FFFFFF;
    --cc-theme-color: #000000;
    --cc-theme-portal-background: rgba(255, 255, 255, 0.25);
    --cc-theme-checkbox-active-background: #0D6EFD;
    --cc-theme-checkbox-inactive-background: #DDDDDD;
    --cc-theme-checkbox-control: #FFFFFF;
    --cc-theme-partition: #DDDDDD;
}

.cc-open {
    .cc-portal {
        background: rgba(255, 255, 255, 0.25);
        background: var(--cc-theme-portal-background);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 5000;
    }
}

.cc {
    background: #FFFFFF;
    background: var(--cc-theme-background);
    bottom: 0;
    color: #000000;
    color: var(--cc-theme-color);
    padding: 0 1.5rem;
    position: fixed;
    right: 0;
    width: 100vw;
    z-index: 5500;

    @media (min-width: 768px) {
        border-radius: .75rem 0 0 .75rem;
        bottom: 3rem;
        width: 17.5vw;
        min-width: 350px;
    }

    &.expand {
        bottom: 0;
        overflow-y: scroll;
        top: 0;

        @media (min-width: 768px) {
            border-radius: 0;
        }
    }

    .cc-button {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .cc-checkbox {
        display: inline-block;
        height: 24px;
        position: relative;
        width: 50px;

        input {
            height: 0;
            opacity: 0;
            width: 0;
        }

        .cc-checkbox-control {
            background: #DDDDDD;
            background: var(--cc-theme-checkbox-inactive-background);
            border-radius: 24px;
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition-duration: 330ms;

            &::before {
                content: "";
                background: #FFFFFF;
                background: var(--cc-theme-checkbox-control);
                border-radius: 50%;
                bottom: 4px;
                height: 16px;
                left: 4px;
                position: absolute;
                transition: .2s;
                width: 16px;
            }
        }

        input:checked + .cc-checkbox-control {
            background: #0D6EFD;
            background: var(--cc-theme-checkbox-active-background);

            &::before {
                transform: translateX(26px);
            }
        }

        input:disabled + .cc-checkbox-control {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    .cc-content {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    .cc-head {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        z-index: 5750;
    }

    &.expand .cc-head {
        background: #FFFFFF;
        background: var(--cc-theme-background);
        border-bottom: 1px solid #DDDDDD;
        border-bottom: 1px solid var(--cc-theme-partition);
        position: sticky;
        top: 0;
    }

    .cc-foot {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        padding-bottom: 1.5rem;
    }

    &.expand .cc-foot {
        background: #FFFFFF;
        background: var(--cc-theme-background);
        border-top: 1px solid #DDDDDD;
        border-top: 1px solid var(--cc-theme-partition);
        bottom: 0;
        padding-top: 1rem;
        position: sticky;
        z-index: 5750;
    }

    .cc-category {
        padding: 1rem 0.25rem;

        &:not(:last-child) {
            border-bottom: 1px solid #DDDDDD;
            border-bottom: 1px solid var(--cc-theme-partition);
        }
    }

    .cc-category-head {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cc-category-title {
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        font-family: inherit;
        font-size: inherit;
        font-weight: bold;

        &::before {
            content: "";
            border-bottom: 1px solid currentColor;
            border-right: 1px solid currentColor;
            display: inline-block;
            height: 0.33rem;
            margin-right: 1rem;
            margin-top: -2px;
            transform: rotate(-315deg);
            width: 0.33rem;
        }
    }

    .cc-category.expand .cc-category-title {
        &::before {
            margin-top: 0.33rem;
            transform: rotate(-135deg);
        }
    }

    .cc-category-description {
        padding: .5rem;
    }

    .cc-cookie {
        border-top: 1px solid #DDDDDD;
        border-top: 1px solid var(--cc-theme-partition);
        margin: 0 0.5rem;
        padding: 0.5rem;

        .cc-cookie-foot {
            border-top: 1px solid #DDDDDD;
            border-top: 1px solid var(--cc-theme-partition);
            display: flex;
            margin-top: 0.5rem;
            padding: 0.5rem 0.25rem;
        }

        .cc-cookie-expiration,
        .cc-cookie-type {
            flex: 1;
        }
    }
}
